<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510831335763-115te0sqtvlb9m3bf55e1f8gqt4doikb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510831335763-115te0sqtvlb9m3bf55e1f8gqt4doikb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510831335763-3cqgrc67c8hrl75aguasmdmfkeqri3qe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvYcwkHZCkdvAzHpcxk2iLzSauWPhsq0M</string>
	<key>GCM_SENDER_ID</key>
	<string>510831335763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kjf.constructDreamAdmin</string>
	<key>PROJECT_ID</key>
	<string>construct-c9852</string>
	<key>STORAGE_BUCKET</key>
	<string>construct-c9852.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>a
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510831335763:ios:d352e2afa09dd39ed5a9a6</string>
	<key>DATABASE_URL</key>
	<string>https://construct-c9852.firebaseio.com</string>
</dict>
</plist>